@import url('https://fonts.googleapis.com/css2?family=Gabriela&family=Quicksand:wght@300..700&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: white;

}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.logo-font a {font-family: 'Gabriela', serif;}

p, a{font-family: 'Source Sans 3', sans-serif;}
h1, h2, h3, h4, h5, h6 {font-family: 'Quicksand', sans-serif;}
